* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #B6C4D1;
background: linear-gradient(167deg, rgba(182, 196, 209, 1) 0%, rgba(182, 196, 209, 1) 20%, rgba(222, 215, 215, 0.57) 50%, rgba(182, 196, 209, 1) 80%, rgba(224, 224, 224, 1) 100%);
}


.main {
    display: flex;
    padding: 20px;
    height: 100vh;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.bgc {
    gap: 20px;
    display: flex;
    padding: 20px;
    background: #ffffff;
}

.Signup {
    width: 350px;
}

#back {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-heading>div>p {
    opacity: 0.3;
    font-size: 12px;
    margin-top: 12px;
}

.signup-heading>div>img {
    transform: rotate(25deg);
}

.fullname,
.email,
.password {
    border-bottom: 1px solid #727272b6;
    padding: 0 0 10px 0;

}

#fullname,
#email,
#password,
#re-password {
    border: none;
    font-weight: 700;
    outline: none;
    flex: 1;
    font-size: 14px;
    color: #000000;
    background: transparent;
    margin-top: 30px;
    width: 300px;
}

.all-inputs {
    display: flex;
    flex-direction: column;
}

.submit-btn>div {
    margin-top: 20px;
    text-align: center;
}

.submit-btn>button {
    background-color: #4B5FFE;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 20px;
    width: 350px;
    border-radius: 50px;
    cursor: pointer;
}

.submit-btn>button:hover {
    transform: scale(1.1);
    transition-duration: 400ms;
    font-weight: bold;
}