* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #B6C4D1;
background: linear-gradient(167deg, rgba(182, 196, 209, 1) 0%, rgba(182, 196, 209, 1) 20%, rgba(222, 215, 215, 0.57) 50%, rgba(182, 196, 209, 1) 80%, rgba(224, 224, 224, 1) 100%);
}